    
    
<section id="about" class="flex flex-col  pl-6 pr-6 md:pl-16 md:pr-16 lg:pl-20 lg:pr-20 pt-16 pb-20 min-h-screen  pt-10 ">

    <!-- Grand titre de la section -->
  <div class="con-title mb-10">
    <div class="flex items-center justify-between">
      <h1 class="title text-4xl lg:text-[4em]"> A propos </h1>
    </div>
    <div class="w-[100%] border border-orange-500 mt-2"></div>
    <p class="text-neutral-400 text-sm mt-3 flex items-center gap-2">
      A la decouverte du personnage
    </p>
  </div>

   <!-- contenu texte a propos -->
    <div class="flex min-h-[100vh]  justify-between w-[100%]">

        <div class="sm:w-full lg:w-3/5  flex flex-col gap-3 ">
            
            <div class="label flex items-center gap-1 lg:gap-5">
                <div class=" border border-orange-500 w-[15px]"></div>
                <h3 class=" text-xl ">mon <span class="text text-orange-500">profil</span></h3>
            </div>
            <p>Développeur Front-End, UI/UX Designer & Aspiring AI Engineer à Douala. Je ne me contente pas de coder des interfaces je conçois des <span class="text-orange-300">expériences</span> qui marquent, de la première esquisse au produit qui convertit. </p>
            
            <div class="label flex items-center gap-1 lg:gap-5">
                <div class=" border border-orange-500 w-[30px]"></div>
                <h3 class=" text-xl ">mon <span class="text text-orange-500">évolution</span></h3>
            </div>
            <p>Membre de la <span class="text-orange-300">cohorte Angular Talent Lab</span> à l'Orange Digital Center, je perfectionne en continu mon expertise front-end au contact des dernières pratiques du framework.</p> 
            
            <div class="label flex items-center gap-1 lg:gap-5">
                <div class=" border border-orange-500 w-[60px] "></div>
                <h3 class=" text-xl ">mon <span class="text text-orange-500">ambition</span></h3>
            </div>
            <p>Avec la rigueur d'un <span class="text-orange-300">ingénieur</span>  et l'exigence d'un designer, construire des produits fiables qui créent une vraie valeur pour vos utilisateurs au Cameroun comme à l'international.</p>
        
        </div>

        <!-- image a propos -->
        <div class="w-1/3 hidden lg:flex cadre-moi  bg-white/7 backdrop-blur-xl border border-white/15 rounded-4xl shadow-"> <img src="images/moi.jpg" alt="" class="moi rounded-4xl grayscale hover:grayscale-0 transition-all duration-300 h-[40vh] max-h-[500px]"></div>
    </div>


</section>