    
    
<section id="about" class="flex flex-col  pl-20 pr-20 pt-10 h-[100vh]">

    <!-- Grand-titre -->
    <div class="con-title mb-20">
        <h1 class="title">A propos</h1>
        <div class="w-[100%] border border-orange-500"></div>
    </div>

   <!-- contenu texte a propos -->
    <div class="flex h-[100vh]  justify-between w-[100%]">

        <div class="w-3/5 p-10 flex flex-col gap-3 ">
            
            <div class="label flex items-center gap-5">
                <div class=" border border-orange-500 w-[15px]"></div>
                <h3 class=" text-xl ">mon <span class="text text-orange-500">profil</span></h3>
            </div>
            <p>Développeur Front-End, UI/UX Designer & Aspiring AI Engineer à Douala. Je ne me contente pas de coder des interfaces je conçois des <span class="text-orange-300">expériences</span> qui marquent, de la première esquisse au produit qui convertit. </p>
            
            <div class="label flex items-center gap-5">
                <div class=" border border-orange-500 w-[30px]"></div>
                <h3 class=" text-xl ">mon <span class="text text-orange-500">évolution</span></h3>
            </div>
            <p>Membre de la <span class="text-orange-300">cohorte Angular Talent Lab</span> à l'Orange Digital Center, je perfectionne en continu mon expertise front-end au contact des dernières pratiques du framework.</p> 
            
            <div class="label flex items-center gap-5">
                <div class=" border border-orange-500 w-[60px] "></div>
                <h3 class=" text-xl ">mon <span class="text text-orange-500">ambition</span></h3>
            </div>
            <p>Avec la rigueur d'un <span class="text-orange-300">ingénieur</span>  et l'exigence d'un designer, construire des produits fiables qui créent une vraie valeur pour vos utilisateurs au Cameroun comme à l'international.</p>
        
        </div>

        <!-- image a propos -->
        <div class="w-1/3  cadre-moi  bg-white/7 backdrop-blur-xl border border-white/15 rounded-4xl shadow-"> <img src="images/moi.jpg" alt="" class="moi rounded-4xl grayscale hover:grayscale-0 transition-all duration-300"></div>
    </div>


</section>