<div id="navbar" class="bg-white/7 backdrop-blur-lg border border-white/12  rounded-4xl shadow-lg px-6">
    <div class="logo">Mr Abkr <span class="text-orange-500">.</span></div>
    <div class="navbar">
        <ul>

            <li> <a href="#hero">Acceuil</a></li>
            <li> <a href="#skills">Competences</a></li>
            <li> <a href="#projects">Projets</a></li>
            <li> <a href="#about">A propos</a></li>
            <li> <a href="#contact" class="text-white font-bold ">Contact</a></li>

        </ul>
    </div>
    <button class="bg-orange-500  rounded-4xl shadow-lg py-1 px-4 font-bold text-white">Télécharger CV</button>
</div>

